<mat-toolbar color="primary" class="app-toolbar">
  <span>OrderFlow</span>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <mat-nav-list>
      @for (link of navLinks; track link.path) {
        <a mat-list-item [routerLink]="link.path" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
